html {
    background-color: rgb(47, 44, 44);
}

// h1 {
//     font-size: 1.8em;
// }
h1 code {
    font-size: 1.2em;
}

code {
    font-size: 1.09em;
}

body {
    font-family: sans-serif;
    color: black;
    background-color: white;
    font-size: 1.6em;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 770px;
    border-style: solid;
    border-color: white;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.333;
}

.content {
    height: 85%;
    padding-left: 30px;
}

.PageNavigation {
    padding-top: 65px;
    font-size: 30px;
    display: block;
    width: auto;
    overflow: hidden;
}

.PageNavigation a {
    display: block;
    width: 20%;
    float: left;
    margin: 1em 0;
    text-decoration: none;
}

.PageNavigation .next {
    text-align: right;
}

.column-left {
    float: left;
    height: 100%;
    width: 50%;
    text-align: left;
}

.column-right {
    float: right;
    height: 100%;
    width: 50%;
    text-align: left;
}