<!doctype html>
<html>
  {% include head.html %}
  <body>
      <div class="content">
        {{ content }}
      </div>



  </body>

      <div class="PageNavigation">
          {% if page.previous.url %}
              <a class="prev" href="{{page.previous.url}}">⬅️</a>
          {% else %}
              <a class="prev">
          {% endif %}
            <a class="mid"</a>
            <a class="mid"</a>
            <a class="mid"</a>
          {% if page.next.url %}
              <a class="next" href="{{page.next.url}}">➡️</a>
          {% endif %}
      </div>

</html>